VITE_SUPABASE_URL=https://jkdxhrzszvjxbqdijtnz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImprZHhocnpzenZqeGJxZGlqdG56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEwNzA3MjUsImV4cCI6MjA4NjY0NjcyNX0.h3IARsBouJutwhj4-X9PEHDULNHRck1TYkmTWzEAyUQ

# Dodo Payments (Kdodo)
VITE_DODO_PAYMENT_URL=https://test.checkout.dodopayments.com/buy/pdt_0NZQ2yXSg1eFFlIux4OXK?quantity=1
DODO_WEBHOOK_SECRET=-hcjsMQSpCRHSZ6u.pr6hQmiqRsb0jAr4QPKOsrf1McTgApSXudQX8uBmlDeMo9Xv
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImprZHhocnpzenZqeGJxZGlqdG56Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MDcyNSwiZXhwIjoyMDg2NjQ2NzI1fQ.YDHyt3gFFgCDjgLJA6k6NwlTECJUWPoNRag1Sn42PKU
