# Firebase Configuration
VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id
VITE_GROQ_API_KEY=your_groq_api_key_here

# Dodo Payments (Kdodo)
VITE_DODO_PAYMENT_URL=https://test.checkout.dodopayments.com/buy/pdt_0NZQ2yXSg1eFFlIux4OXK?quantity=1
DODO_WEBHOOK_SECRET=-hcjsMQSpCRHSZ6u.pr6hQmiqRsb0jAr4QPKOsrf1McTgApSXudQX8uBmlDeMo9Xv
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImprZHhocnpzenZqeGJxZGlqdG56Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MDcyNSwiZXhwIjoyMDg2NjQ2NzI1fQ.YDHyt3gFFgCDjgLJA6k6NwlTECJUWPoNRag1Sn42PKU
